* {
    /*animate everything*/
/*    -webkit-transition: all 1s;*/
    /*start with blank canvas tags*/
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
}

body {
    font-family: 'Overpass Mono', monospace;
    color: #333333;/* #141823;*/
    margin: 0 0 0 0;
    transform-style: preserve-3d;
    background-color: #fff;
    text-align: left;
}

header {
    text-align: center;
}

h1 {
    padding-bottom: 1%;
    font-family: 'Quicksand', sans-serif;
}

/* small screen */
@media screen and (max-width:750px) {
    header {
        padding: 8% 1% 0 1%;
    }
    section {
        padding: 1% 6% 1% 6%;
    }
}

/* large screen */
@media screen and (min-width:751px) {
    header {
        padding: 5% 1% 0 1%;
    }
    section {
        padding: 2% 15% 2% 15%;
    }
}

section > h1 {
    text-align: left;
    padding-bottom: 1%;
}

nav {
    padding: 1rem 0 1rem 0;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

button {
    border: none;
    border-color: transparent;
}

.buttonlink{
    background-size: 100% 100%;
    background-color: transparent;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    display: block;
}

#linkedin {
    background-image: url('../img/linkedin.svg');
}

#github {
    background-image: url('../img/github.svg');
    width: 4rem;
    height: 3.5rem;
}